@import 'main';
.havesomething{
    margin-top: 20px;
    display: inline-block;
}
.initiatediscussion{
    width: fit-content;
    padding: 5px;
    background-color: $dark-base;
    color: white;
    &:hover{
        color: white !important;
    }
    @media(min-width: 762px){
        margin-left: 23px;
    }
}
.discus-tag{
    padding: 5px;
    display: inline-block;
    margin: 5px;
}
.discussion-item{
    box-shadow: 2px 3px #e0dede;
    filter: drop-shadow(2px 3.81px 3.81px rgba(0, 0, 0, 0.1));
    width: fit-content;
    padding: 1vw;
    border-radius: 5px;
}
.userprofile{
    border-radius: 50%;
}
.disnow{
    color: $dark-base;
    float: right;
    &:hover{
        color: $dark-base;
    }
}
.discustextreply{
    width: 40vw;
    @media(max-width:992px){
        width: 55vw;
    }
    @media(max-width:762px){
        width: 70vw;
    }
}
