* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.landing-1 {
  background-image: url("../assets/background.png");
  height: 89vh;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
}

.base {
  color: #F8ADAD;
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 5px;
  width: 100%;
  border: solid 6px;
  border-color: #F58585 transparent transparent transparent;
  border-radius: 100%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.invisible {
  font-size: larger;
  display: inline;
}

.young {
  font-size: large;
  display: inline-block;
  margin: 0;
  -webkit-transform: rotate(7deg) !important;
          transform: rotate(7deg) !important;
}

.no-pc {
  display: none;
  text-align: center;
}

.no-mobile {
  text-align: center;
}

h1 {
  text-align: center;
}

.tagline {
  font-size: larger;
}

@media (max-width: 992px) {
  .swiper {
    height: 50vh;
  }
  .landing-1 {
    padding-top: 8rem;
  }
  h1 {
    font-size: calc(1.375rem + 1vw);
  }
  .no-pc {
    display: block;
    margin-top: 20px;
    font-size: large;
  }
  .no-mobile {
    display: none;
  }
}

@media (max-width: 992px) and (max-width: 700px) {
  .justify {
    font-size: small;
    padding-top: 3.5vh;
  }
}

@media (max-width: 992px) and (min-width: 700px) {
  .swiper {
    height: 44vh;
  }
  h1 {
    font-size: 3rem;
  }
  .no-pc {
    font-size: x-large;
  }
}

@media (min-width: 992px) {
  .swiper {
    height: 52vh;
  }
  .landing-1 h1 {
    font-size: 4rem !important;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 2em;
  }
}

.center {
  text-align: center;
  font-size: larger;
  display: inline-table;
}

.justify {
  text-align: justify;
  width: 85%;
  margin: auto;
}

.landing-1 ul {
  list-style-image: "\F26A";
  vertical-align: middle;
  margin-top: 1vh;
  list-style-image: url("../assets/list-type.svg");
}

.btn-3 {
  background-color: #F58585;
  color: #fff;
  width: 120px;
  margin-top: 4vh;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-3:hover {
  color: #fff;
}

.scroll {
  display: inline-block;
  padding: 6px;
  border-radius: 30px;
  position: relative;
  bottom: 9vh;
  border: 3px solid #F8ADAD;
}

.scroll img {
  -webkit-animation: float 2s infinite ease-in-out;
          animation: float 2s infinite ease-in-out;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.landing-2 {
  text-align: center;
}

.dim {
  color: rgba(0, 0, 0, 0.5);
}

.landing-2 h2 {
  margin-bottom: 2vh;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

.buz-grid {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 100px;
  grid-row-gap: 35px;
}

.buz-grid-item {
  border-left: 3.5px solid #F8ADAD;
  background-color: rgba(248, 173, 173, 0.4);
  font-weight: 600;
  height: 30px;
  padding-top: 3px;
  color: #F58585;
}

@media (max-width: 590px) {
  .buz-grid {
    -ms-grid-columns: (100px)[2];
        grid-template-columns: repeat(2, 100px);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }
}

.mart-5vh {
  margin-top: 6vh;
}

.rec-img {
  margin-top: 4.5vh;
}

@media (max-width: 762px) {
  .rec img {
    width: 240px;
  }
}

.inspire {
  background-color: rgba(248, 173, 173, 0.13);
  margin-top: 6vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.inspire h2 {
  font-weight: 500;
  margin-bottom: 5vh;
}

.inspire h2 .underline {
  font-weight: 600;
}

.bi {
  display: block;
  color: #F58585;
}

.bi-person-square, .bi-headset {
  font-size: 45px;
  margin-top: 2vh;
}

.community {
  display: inline-block;
  font-size: x-large;
  padding: 2px 6px;
  font-weight: 600;
  color: #fff;
  background-color: #F8ADAD;
}

.l-tilt {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.fw-600 {
  font-weight: 600;
  margin: 0;
  font-size: larger;
}

.ins-img {
  background: rgba(245, 133, 133, 0.1);
  border-radius: 50%;
  padding: 20px;
}

@media (min-width: 762px) {
  .pl-5vw {
    padding-left: 6vw;
  }
  .ins-img-2 {
    margin-left: -5vw;
  }
  .pl-5vw-2 {
    padding-left: 10vw;
  }
}

.pl-5vw {
  margin-bottom: 5vh;
}

.r-tilt {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.r-2 {
  margin-bottom: 5vh;
}

.inb {
  display: inline;
}

.landing-3 {
  margin-top: 5vh !important;
  padding-bottom: 8vh;
}

.landing-3 h2 {
  margin-bottom: 8vh;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: grey !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F58585 !important;
}

.contact {
  background-image: url("../assets/background.png");
}

.contact .row {
  padding-top: 12vh;
  padding-bottom: 7vh;
}

.contact .pl-5vv {
  padding-left: 5vw;
}

.contact .submit, .contact .subscribe {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 12px;
}

.contact .yourstory {
  display: inline-block;
  color: white;
  background-color: #F8ADAD;
  opacity: 1;
  font-family: 'Pacifico', cursive;
  padding-left: 10px;
  padding-right: 10px;
}

.contact h3 span {
  color: #F8ADAD;
  opacity: 1 !important;
}

footer {
  background-color: #31343C;
}

footer h6 {
  font-weight: 600;
  color: #EF7E7E;
}

footer ul {
  list-style-type: none;
  margin-left: -30px;
}

footer .ful li, footer p {
  font-weight: 500;
  color: white;
}

footer .cflud {
  padding-left: 1vw;
  padding-top: 3vh;
}

footer .footer {
  padding-top: 3vh;
}

footer .flink {
  text-decoration: none;
  color: white;
}

footer .flink:hover {
  color: white;
}

footer .f-icons {
  color: white;
  margin: 0;
  width: 32px;
}

footer .support {
  color: #F6F97A;
}

@media screen and (max-width: 992px) {
  .order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

label {
  display: block;
}

input, textarea {
  border: #F8ADAD 2px solid;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 6px;
  font-size: small;
}

::-webkit-input-placeholder {
  opacity: 0.6;
}

:-ms-input-placeholder {
  opacity: 0.6;
}

::-ms-input-placeholder {
  opacity: 0.6;
}

::placeholder {
  opacity: 0.6;
}

::-webkit-input-placeholder {
  opacity: 0.6;
}

input[type=text]:focus {
  outline: none;
  padding: 2px;
  border: #F8ADAD 2px solid;
}

textarea {
  outline: none;
  display: block;
}

.mpl-0 {
  margin-left: 0px !important;
}

.mt-minus5 {
  margin-top: -20px !important;
}
/*# sourceMappingURL=home.css.map */