@import 'main';
.search{
    width: 240px;
    padding: 4px;
    display: block;
    margin-top: 25px;
    float: right;
}
.search:focus{
    padding: 4px !important;
}
@media screen and (min-width:762px) {
    .search{
        margin-top: 0;
    }
}
@media(min-width:992px){
    .container{
        width: 73%;
        margin: auto;
    }
}
@media (max-width: 640px){
    .search{
        display: none;
    }
}
.carousel-image-int{
    width: 280px;
    height: 150px;
}
.myswiperinterviewpage{
    padding-top: 1.5vh;
}
.m5{
    margin: 5px;
    display: inline-block;
}
.int-head{
    margin-top: 20px;
    margin-bottom: -13px;
    display: inline-block;
}
.watch-more{
    background-color: transparent;
    margin-top: 50px;
    border: none;
}
.wat-mor{
    text-decoration: underline;
}
.larger{
    font-size: xx-large !important;
    position: relative;
    top: 7px;
}
.intervideo{
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    width: 45vw !important;
}
@media(max-width:700px){
    .intervideo{
        width: 310px;
    }
}
