$base: #F8ADAD;
$dark-base: #F58585;
$black: rgba(0, 0, 0, 0.8);
$dim-text: rgba(0, 0, 0, 0.5);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}